:root {
    box-sizing: border-box;
}

body {
    background-color: black;
}

a > img {
    height: 18rem;
    margin: 4px;
}

button {
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: black;
    border: 2px solid purple;
  
}

button:hover {
    background-color: rgb(196, 106, 196);
    color: white;
    transition-duration: 0.4s;
  }

h1 {
    border-style:solid;
    border-color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: yellow;
    margin-left: 30rem;
    margin-right: 30rem;
}